@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  /* height: 100vh; */
  /* overflow: hidden; */
  margin: 0;
  background-color: #dfe2e4;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq {
  background-color: transparent;
  border: 1px solid #719abb;
  border-radius: 10px;
  margin: 8px 0;
  padding: 10px;
  position: relative;
  transition: 0.3s ease;
}

.faq.active {
  background-color: white;
  /* using box shadow for making it look coming out of page*/
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.faq.active::before,
.faq.active::after {
  /* using fontawesome comment icon using css with the help of unicode */
  content: "\f075";
  font-family: "Font Awesome 5 Free";
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -8px;
  transform: rotateY(180deg);
}

.faq-text {
  display: none;
}

.faq.active .faq-text {
  display: block;
}


button .fa-times
{
  display: none;
}

.faq.active button .fa-times
{
  display: inline;
}

.faq.active button .fa-chevron-down
{
  display: none;
}


